*{
    margin: o;
    padding: o;
    font-family:'roboto'
}
.padre {
    display:flex;
    margin: 0;
    padding:0%;
}
.bloque_chat {
    display: flex;
    flex-wrap: wrap;
    align-items: center;  
    background-color: rgb(246, 244, 244);
    border: 2px solid #BEC1BB;
}
.img_chat{
    text-align: center;
}
.img_logo_chat {
    width: 200px;
    border-radius:0%;
}
.mi_perfil{
    border-bottom: 2px solid #BEC1BB;
    border-top:  2px solid #BEC1BB;
    display: flex;
    width: 40vh;
    justify-content: space-between;
}
.foto_y_estado{
    display: flex;
    border-bottom: 2px solid #BEC1BB;
    border-left: 2px solid #BEC1BB;
}
.foto{
    margin: 5px;
}
img{ 
    border-radius: 50%;
    width: 50px;
}
.estado{
    padding-bottom: 2px;
    text-align: center;
    line-height:0;
    overflow: hidden;
}
.estado_contacto{
    font-size: 10px;
}
.iconos{
    display: flex;
    flex-direction: row;
    justify-content: end;
}
.boton_chat{
    margin: 0;
    padding: 20px;
    border-bottom: 2px solid #BEC1BB;
    border-left: 2px solid #BEC1BB;
}
.btn{
    display: inline-block;
    margin-left: 60px;
    padding: 10px;
    color: white;
    background-color: #A491D2;
    border: none;
    font-size: 16px;
    cursor:pointer;
}
.btn:hover {
    background-color: #cdc3e6;
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    color: purple;
}
.btn_ppal {
    display: flex;
    border: none;
    background-color: white;
    cursor: pointer;
}
.btn_ppal:hover{
    color: purple;
}
.estado_lista{
    text-align:left;
    line-height:0;
}
.linea{
    border-bottom: none;
}
.btn_list {
    display: flex;
    width: 40vh;
    border: none;
    background-color: white;
    cursor: pointer;
}
.btn_list:hover{
    background-color: #cdc3e6;
    color: purple;
}